<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}">
    <title>statRN</title>
</head>
<body>
    <main>
        <div class="container">
            <div class="header">
                <h1 class="logo"><span class="stat">stat</span>RN</h1>
                <div class="login-register">
                    <a href="/nurses/login" class="nurse-login">Nurse Login</a> |
                    <a href="/facility/login" class="facility-login">Facility Login</a> |
                    <a href="/nurses/register" class="nurse-signup">Signup</a>
                </div>
            </div>
            <div class="content">
                <img class="pic1" src="{{ url_for('static', filename='img/nurse_pic1.jpg') }}">
                <div class="welcome">
                    <h1 class="text-primary">Welcome to <span class="stat">stat</span>RN!</h1>
                    <p>We can help you find your next assignment <span class="stat">stat</span>!</p>
                    <p class="get-started">Click <a href="/nurses/register">here </a>to get started</p>
                </div>
                <div class="images">
                    <img class="pic3" src="{{ url_for('static', filename='img/wordart3.png') }}">
                </div>
            </div>
        </div>
    </main>
</body>
</html>