* {
    margin: 0;
    padding: 0;
}

.pic1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.welcome {
    text-align: center;
    margin-top: 20px;
}

.signup {
    background-color: rgb(148, 165, 240);
    padding: 5px;
}

.postings {
    background-color: antiquewhite;
}

hr {
    border: 3px solid rgb(0, 0, 0);
}